{{ range where .Site.Pages "File.Path" (print "parts/" .page ".md") }}
<div id="{{ $.page }}">
	<h2><span>{{ .Title }}</span></h2>
	<div class="wrapper">
		{{ .Content }}
		{{ if .Params.timetable }}
			{{ $params := .Params}}
			<table>
				<tr><th></th><th>Přednášky</th><th>Workshopy</th></tr>
				{{ range (slice 13 14 15 16 17 18 19 20 21 22 23) }}
					<tr>
						{{ $hour := . }}
						<th>{{ . }}</th>
						{{ range slice "talk" "workshop"}}
							{{ $type := . }}
							{{ with index (index $params (print . "s")) (string $hour) }}
								{{ partial "event.html" (dict "type" $type "hour" $hour "event" .) }}
							{{ end }}
						{{ end }}
					</tr>
				{{ end }}	
			</table>

			<h2 id="parkovani">Parkování</h2>

			<p>Nejlepší místo pro parkování během svatby (obřad i barcamp jsou nedaleko od sebe) najdete v parkovacím domě <a href="https://www.bkom.cz/parkovani">Domini Park</a>, který je hned vedle Nové radnice.</p>

			<p>Blízko jsou i <a href="https://www.bkom.cz/parkovani">dům na ul. Kopečné a podzemní parkování u Janáčkova divadla</a>, na <a href="http://www.parkovani-brno-centrum.cz">Moravském náměstí</a> nebo v <a href="http://www.centerparking.cz">obchodním domě IBC</a>.

		{{ end }}
	</div>
</div>
{{ end }}
