{{ range where .Site.Pages "File.Path" (print "parts/" .page ".md") }}
<div id="{{ $.page }}">
	<h2><span>{{ .Title }}</span></h2>
	<div class="wrapper">
		{{ .Content }}
		{{ if .Params.timetable }}
			{{ $params := .Params}}
			<table>
				<tr><th width="70%">"Přednášky</th><th width="30%">Workshopy</th></tr>
				{{ range (slice 1300 1330 1400 1430 1500 1530 1600 1630 1700 1730 1800 1830 1900 1930 2000 2030 2100 2130 2200 2230 2300 2330) }}
					<tr>
						{{ $hour := . }}
						{{ range slice "talk" "workshop"}}
							{{ $type := . }}
							{{ with index (index $params (print . "s")) (string $hour) }}
								{{ partial "event.html" (dict "type" $type "hour" $hour "event" .) }}
							{{ end }}
						{{ end }}
					</tr>
				{{ end }}	
			</table>
		{{ end }}
	</div>
</div>
{{ end }}
