:root {
	--brown-0: rgba(255,254,251,1);
	--brown-1: rgba(255,250,236,1);
	--brown-2: rgba(245,235,205,1);
	--brown-3: rgba(210,195,151,1);
	--brown-4: rgba(177,158,103,1);

	--green-0: rgba(249,251,247,1);
	--green-1: rgba(238,244,225,1);
	--green-2: rgba(217,229,191,1);
	--green-3: rgba(178,196,141,1);
	--green-4: rgba(143,165, 96,1);
	
	--pink-0: rgba(255,251,251,1);
	--pink-1: rgba(255,236,236,1);
	--pink-2: rgba(245,206,205,1);
	--pink-3: rgba(210,153,151,1);
	--pink-4: rgba(177,104,103,1);

	--brown-0-half: rgba(255,254,251,0.5);
	--brown-1-half: rgba(255,250,236,0.5);
	--brown-2-half: rgba(245,235,205,0.5);
	--brown-3-half: rgba(210,195,151,0.5);
	--brown-4-half: rgba(177,158,103,0.5);

	--green-0-half: rgba(249,251,247,0.5);
	--green-1-half: rgba(238,244,225,0.5);
	--green-2-half: rgba(217,229,191,0.5);
	--green-3-half: rgba(178,196,141,0.5);
	--green-4-half: rgba(143,165, 96,0.5);
	
	--pink-0-half: rgba(255,251,251,0.5);
	--pink-1-half: rgba(255,236,236,0.5);
	--pink-2-half: rgba(245,206,205,0.5);
	--pink-3-half: rgba(210,153,151,0.5);
	--pink-4-half: rgba(177,104,103,0.5);	

	--brown-0-t: rgba(255,254,251,0.8);
	--brown-1-t: rgba(255,250,236,0.8);
	--brown-2-t: rgba(245,235,205,0.8);
	--brown-3-t: rgba(210,195,151,0.8);
	--brown-4-t: rgba(177,158,103,0.8);

	--green-0-t: rgba(249,251,247,0.8);
	--green-1-t: rgba(238,244,225,0.8);
	--green-2-t: rgba(217,229,191,0.8);
	--green-3-t: rgba(178,196,141,0.8);
	--green-4-t: rgba(143,165, 96,0.8);
	
	--pink-0-t: rgba(255,251,251,0.8);
	--pink-1-t: rgba(255,236,236,0.8);
	--pink-2-t: rgba(245,206,205,0.8);
	--pink-3-t: rgba(210,153,151,0.8);
	--pink-4-t: rgba(177,104,103,0.8);	

	--normal: 16px;
	--large: 20px;
	--huge: 36px;
}

@media (max-width: 799.9px) {
	:root {
		--normal: 13px;
		--large: 15px;
		--huge: 20px;
	}
}

.gray {
	opacity: 0.7;
}

.red,
.separator {
	color: var(--pink-3);
	text-shadow: 1px 1px 1px var(--green-3);
	
}

.separator {
	padding: 2rem;
}

html, body {
	margin: 0;
	padding: 0;

	font-size: var(--normal);
	font-weight: 400;
	line-height: 1.5em;
	background-color: var(--brown-1);

	font-family: 'Merriweather', serif;
	color: rgba(0, 0, 0, .8);
}

.flowers {
	background-image: url('/bg.jpg');
	background-position: 50% 0%;
	background-size: 1000px;
}

a {
	color: var(--pink-4);
	text-decoration: underline;
}

a:hover {
	color: var(--green-4);
	text-decoration: none;
}

a.button {
	display: inline-block;
	white-space: nowrap;

	color: var(--pink-4);
	text-transform: uppercase;
	font-size: var(--huge);
	background: var(--green-2-t);
	border: 1px solid var(--green-4);
	box-shadow: 4px 4px 0 var(--pink-4-t);
	padding: 1em 1.5em;
	margin-bottom: 1rem;
	text-decoration: none;

	cursor: pointer;
}

a.button:hover {
	color: var(--pink-0);
	background-color: var(--pink-4-half);
	border-color: var(--pink-4);

	animation: instantheart 1.5s ease;
	animation-iteration-count: infinite;
}

@keyframes instantheart {
	0% { transform: scale(1, 1); }
	10% { transform: scale(1, 1); }
	20% { transform: scale(1.05, 1.05); box-shadow: 8px 8px 0 var(--pink-4-t); }
	30% { transform: scale(1, 1); box-shadow: 4px 4px 0 var(--pink-4-t); }
	40% { transform: scale(1.05, 1.05); box-shadow: 8px 8px 0 var(--pink-4-t); }
	50% { transform: scale(1, 1); box-shadow: 4px 4px 0 var(--pink-4-t);}
	100% { transform: scale(1, 1); }
}

h2 {
	font-size: var(--huge);
	font-weight: 300;
	color: var(--pink-4);
	text-shadow: 2px 2px 0 var(--green-4-half);
	margin: 4rem 0 1rem;
}

h3 {
	margin: 2rem 0 0.5rem;
}

h2+h3 {
	margin-top: 0;
}

p {
	margin: 0 0 1rem;
}

dt {
	font-size: var(--large);
	color: var(--pink-4);
	text-shadow: 1px 1px 0 var(--green-4-half);
}

dt:nth-child(4n - 1) {
	color: var(--green-4);
	text-shadow: 1px 1px 0 var(--pink-4-half);
}

dd {
	margin-left: 0;
}

#concept ol {
	background: var(--brown-2-half);
	box-shadow: 5px 5px 0 var(--green-2-half);
	border: 1px solid var(--brown-3);
	
	padding: 1rem 1rem 1rem 2.5rem;

	transform-origin: 50% 50%;
	transform: rotate(0.5deg);
}

@media (min-width: 800px) {
	#concept ol {
		border-width: 0 1px 1px 0;
		padding: 2rem 1rem 1rem 2.5rem;
		border-top: 1px solid var(--brown-3-half);
		border-left: 1px solid var(--brown-3-half);
		margin-top: -1rem;
	}
}

#concept ol li {
	margin-bottom: 0.5rem;
	font-size: var(--large);
	line-height: 1.4em;
	color: var(--pink-4);
	list-style-type: none;
	text-indent: -1em;
}

#concept ol li::before {
	content: "♥ ";
	opacity: 0.5;
}

#concept ol li strong {
	background: var(--brown-2-half);
	box-shadow: 3px 3px 0 var(--brown-2-half);
}

#concept ol li:nth-child(even) {
	color: var(--brown-4);
	margin-left: 1em;
}

#concept ol li:nth-child(even)::before {
	opacity: 0.3;
}

#concept table {
	margin: 1rem 0;
	border-collapse: collapse;
}

#concept table td {
	vertical-align: top;
	padding-right: 1rem;
}


#program table {
	margin: -0.5rem;
	border-spacing: 0.5rem;
	border-collapse: separate;
}
#program table td, table th {
	background: var(--pink-3-half);
	padding: 1rem 1.5rem 0.7rem;
	box-shadow: 0.25rem 0.25rem 0 var(--green-3);
}

#program table td.talk {
	background: var(--brown-2-half);
}

#program table td.pause {
	background: var(--brown-1-t);
	color: var(--brown-4);
}

footer.column {
	padding-bottom: 4rem;
	margin-bottom: 0;
}

dt {
	margin-top: 1rem;
	cursor: pointer;
}

.js dd {
	display: none;
}

.js dd.visible {
	display: block;
	transform-origin: 0 0;
	animation: pull 0.3s;
}

@keyframes pull {
	0% { transform: scaleY(0); }
	100% { transform: scaleY(1); }
}

.pink {
	color: var(--pink-4);
}

:target h2 span {
	display: inline-block;
	transform-origin: 50% 50%;
	animation: heart 1.5s ease;
	animation-iteration-count: 3;
}

@keyframes heart {
	0% { transform: scale(1, 1); }
	60% { transform: scale(1, 1); }
	70% { transform: scale(1.1, 1.1); }
	80% { transform: scale(1, 1); }
	90% { transform: scale(1.1, 1.1); }
	100% { transform: scale(1, 1); }
}

.column {
	margin: 2rem auto;
	padding: 0 2rem;
	max-width: 1230px;
}

.hero .bg {
	background-image: url(hero.png);
	padding-top: 49%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
}

.hero nav ul li {
	font-size: var(--large);
}

.hero .bg p {
	color: var(--pink-4);
}

@media (min-width: 800px) {
	.hero {
	width: 104%;
	margin: 0 -2%;
	padding-bottom: 59%;
	position: relative;
	}

	.hero .bg {
		position: absolute;
	  	top: 0; bottom: 0; left: 0; right: 0;
	  	padding: 3rem 4rem;
	}

	.hero nav ul li,
	.hero .bg a,
	.hero .bg p {
		color: white;
	}

	.hero .bg a.button {
		margin-top: 3rem;
		border-color: white;
	}
}

.hero nav ul {
	display: block;
	padding: 0;
}

.hero nav ul li {
	display: block;
	list-style-type: none;

	line-height: 1.5em;
	margin-bottom: 0.5rem;
	font-weight: 300;
	text-transform: lowercase;
}
.hero nav ul li.separator {
	display: none;
}

@media (max-width: 799.9px) {
	#concept {
		margin-top: -1.5rem;
	}

	.hero nav ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	}

	.hero nav ul li.separator {
		display: none;
	}
}

.hero .bg a {
	text-decoration: none;
}

.hero .bg a:hover {
	text-decoration: underline;
}

.hero .bg a.button {
	text-decoration: none;
}

.hero .bg a.button:hover {
	color: black;
	background: var(--pink-1);
}

.hero .bg h1 { 
	margin: 0;
}

#logo {
	width: 50%;
}

#tym .wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}


@media (min-width: 800px) {
	#tym .wrapper {
		grid-template-columns: repeat(5, 1fr);
	}
}

#tym .wrapper img {
	width: 100%;
	display: block;
	transform-origin: 50% 50%;
	box-shadow: 8px 8px 0 var(--green-4-half);
}

#tym .wrapper p {
	padding: 0.5rem;
	text-align: center;
}

#tym .wrapper p:nth-child(1) {
	background: var(--brown-3-t);
	
}
#tym .wrapper p:nth-child(2) {
	background: var(--green-3-t);
	
}
#tym .wrapper p:nth-child(3) {
	background: var(--pink-3-t);
	
}
#tym .wrapper p:nth-child(4) {
	background: var(--pink-3-t);
	
}
#tym .wrapper p:nth-child(5) {
	background: var(--pink-3-t);
	
}


#tym .wrapper p:nth-child(1) img { 
	transform: rotate(3deg); 
	animation: hearttiny 12.5s ease;
	animation-iteration-count: infinite;
}
#tym .wrapper p:nth-child(1) img:hover { 
	animation: joy 6s ease infinite; 
}


#tym .wrapper p:nth-child(2) img { 
	transform: rotate(-2deg); 
	animation: hearttiny 5.1s ease;
	animation-iteration-count: infinite;
}
#tym .wrapper p:nth-child(2) img:hover { 
	animation: joy 6s ease infinite; 
}


#tym .wrapper p:nth-child(3) img { 
	transform: rotate(1deg); 
	animation: hearttiny 9.0s ease;
	animation-iteration-count: infinite;
}
#tym .wrapper p:nth-child(3) img:hover { 
	animation: joy 6s ease infinite; 
}


#tym .wrapper p:nth-child(4) img { 
	transform: rotate(-3deg); 
	animation: hearttiny 4.2s ease;
	animation-iteration-count: infinite;
}
#tym .wrapper p:nth-child(4) img:hover { 
	animation: joy 6s ease infinite; 
}


#tym .wrapper p:nth-child(5) img { 
	transform: rotate(2deg); 
	animation: hearttiny 9.3s ease;
	animation-iteration-count: infinite;
}
#tym .wrapper p:nth-child(5) img:hover { 
	animation: joy 6s ease infinite; 
}

@keyframes hearttiny {
	0% { transform: rotate(0); }
	20% { transform: rotate(1deg); }
	40% { transform: rotate(-2deg); }
	60% { transform: rotate(2deg); }
	80% { transform: rotate(1deg); }
	100% { transform: rotate(0); }
}
@keyframes joy {
	0% { transform: rotate(0) scaleX(1); }
	25% { transform: rotate(15deg) scaleX(-1); }
	50% { transform: rotate(-15deg) scaleX(1); }
	75% { transform: rotate(-7deg) scaleX(-1); }
	100% { transform: rotate(0) scaleX(1); }
}

@media (min-width: 800px) {
	#main {
		display: grid;
		grid-template-columns: 4fr 2fr;
		grid-column-gap: 3rem;
	}
}

#code-of-conduct,
#faq {
	padding: 0rem 1rem 1rem;
	margin: 1rem -1rem 3rem;
	background: var(--brown-2-t);
	box-shadow: 0.75rem 0.75rem 0 var(--pink-3-half);
}

#code-of-conduct {
	background: var(--green-2-t);
	box-shadow: 0.75rem 0.75rem 0 var(--pink-3-half);
}

@media (min-width: 800px) {
	#concept,
	#faq .wrapper {
		display: grid;
		grid-template-columns: 3fr 4fr;
		grid-column-gap: 3rem;
	}

	#faq .wrapper {
		grid-template-columns: 1fr 1fr;
	}

	#cfp .wrapper,
	#code-of-conduct .wrapper {
		column-count: 3;
		column-gap: 3rem;
	}

	#get-involved .wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1rem;
		grid-row-gap: 1rem;
	}

	#get-involved .wrapper #UG9tb3 {
		grid-column: span 2;
	}
}

#quote-wrapper blockquote {
	margin: 0;
	min-height: 18em;
}

#quote-wrapper cite {
	display: block;
	text-align: right;
	font-weight: 300;
}

#quote-wrapper {
	padding-top: 1rem;
}

#quote-wrapper::before {
	content: '—';
	display: block;
	height: 5px;
	background: var(--pink-2);
	overflow: hidden;
	transform-origin: 0 0;
	animation: load 10s linear infinite;
	box-shadow: 4px 2px 0 var(--green-3);

	position: relative;
	top: -0.5rem;
}
@keyframes load {
	0% { transform: scaleX(0); }
	100% { transform: scaleX(1); }
}

@media (min-width: 800px) {
	.map-wrapper {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}
}

.map-wrapper {
	border: solid var(--green-4-half);
	border-width: 5px 0;	
	background: var(--brown-2-t);
	box-shadow: 1rem 1rem 0 var(--green-2-t);
}

.leaflet-container {
	mix-blend-mode: multiply;
}

.leaflet-tile-pane img {
	opacity: 0.7 !important;
}

.leaflet-marker-icon {
	transition: box-shadow 0.3s;
}

.leaflet-marker-icon.active {
	border-radius: 100px;
	background: var(--green-4-t);
	padding: 10px 10px 10px 10px;
	position: relative;
	top: -12px;
	left: -12px;
	border: 2px solid var(--pink-4);
	box-shadow: 0px 0px 0px 3px var(--pink-4-t);
}

.map-descriptions {
	padding: 0.5rem 2rem;
	overflow: hidden;
}

.map-descriptions > div {
	display: none;
}

.map-descriptions > div.active {
	display: block;
	animation: 0.3s pop;
}

@keyframes pop {
	0% { transform: translate(-300px, 0px); }
	100% { transform: translate(0, 0); }
}

#get-involved .wrapper div {
	background: var(--brown-2-half);
	box-shadow: 6px 6px 0 var(--pink-3-half);
	padding: 1rem;
	transform-origin: 50% 50%;
	transform: rotate(1deg);
}

#get-involved .wrapper div:nth-child(odd) {
	background: var(--green-2-half);
	transform: rotate(-2deg);
}

#get-involved h3 {
	color: var(--pink-4);
	text-shadow: 2px 2px 0 var(--green-3-half);
	margin-top: 0;
}

@media (max-width: 799.9px) { 
	#get-involved .wrapper div {
		margin-bottom: 1rem;
	}
}

#map-brno {
	width: 100%;
	height: 400px;
	border-bottom: 5px solid var(--green-4-half);
}

@media (min-width: 800px) {
	#map-brno {
		border-right: 5px solid var(--green-4-half);
		border-bottom: none;
		height: 400px;
	}
}

.invite-comment p {
	text-align: center;
	max-width: 9cm;
	margin: 1em auto;
}


.card {
	max-width: 9cm;
	margin: 0 auto;
}

.card .front,
.card .back {
	background: white;
	max-width: 9cm;
	min-height: 5cm;
	padding: 0.4cm;

	box-sizing: border-box;
	margin: 1cm 0;

	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
	font-size: 0.5cm;
	margin: 0 0 0.5cm;
	text-shadow: none;
}

.card .front h2 {
	color: var(--green-4);
}

.card blockquote {
	margin: 0;
	font-size: 0.32cm;
	line-height: 1.4em;
	font-style: italic;
}

.card blockquote cite {
	font-style: normal;
	white-space: nowrap;
}

.card p {
	font-size: 0.4cm;
	color: #555;
	margin: 1cm 0 0;
}