{{ define "main" }}
	
	<div class="column invite-comment">
		<p class="separator">&hearts;</p>
	</div>
	

	<div class="card">
		<div class="front">
			<h2>
				Pavla Minaříková<br>
				Jan Martinek
			</h2>

			<blockquote>
				„Milovat někoho není jen silný cit — je to rozhodnutí, je to soud, je to slib. (…) Láska je umění, stejně jako jím je život sám; chceme-li se naučit milovat, musíme postupovat stejně, jako když se chceme vzdělávat v kterémkoli oboru, třeba  v hudbě, malířství, medicíně či inženýrství.“ <cite>Erich Fromm</cite>
			</blockquote>
		</div>
	</div>

	<div class="column invite-comment">
		<p><b>{{ .Params.address }}</b>,<br>
		rádi bychom {{ .Params.pronoun }} pozvali na náš Svatbarcamp!</p>
	</div>

	<div class="card">
		<div class="back">
			<h2>
				Pavla a Jan<br>
				Martinkovi
			</h2>
			<p>
				9. března 2019<br>
				 radnice Brno-střed<br>
				<a href="/">svatbarcamp.cz</a>
		</div>
	</div>

	<div class="column invite-comment">
		<p>{{ .Params.checkout | title }} na podrobnosti a {{ .Params.rsvp }} nám vědět, jestli {{ .Params.rsvp2 }}. A jestli si {{ .Params.rsvp3 }} připravit přednášku nebo workshop. A tak vůbec. Těšíme se <span class="red">&hearts;</span>.</p>
		<p>Registrace je otevřená do&nbsp;16.&nbsp;února.</p>

		<center><br><b><a href="/" class="button" style="line-height: 1.4em">&rarr; &nbsp; &hearts; &nbsp; &rarr;</a></b></center>
		<!-- 90s neskončily, 90s trvají -->
	</div>
{{ end }}